doctype html
html
    head    
        title JavaScript To do list
        link(rel="stylesheet", href="style.css")
    
    body        
        .add_task         
            input(type="text", placeholder="Enter an activity.." , class="addItemInput" )
            button.addItemButton +
        .added_tasks
            ul#ulstyle.uncompleted_tasks
            ul#ulstyle.completed_tasks
        script
            include _asset/js/script.js